@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background-start-rgb: #156a7d;
  --background-end-rgb: #f6f6f6;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  color: var(--foreground);
  background: linear-gradient(transparent, var(--background-end-rgb) 45%)
    var(--background-start-rgb) 55% !important;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
